@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 heading_1">Welcome to MondayApp</h1>
    <div id=container>
        Make
        <div id=flip>
            <div><div>wOrK</div></div>
            <div><div>lifeStyle</div></div>
            <div><div>Everything</div></div>
        </div>
        AweSoMe!
    </div>
    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/tgJj0wui4UQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</div>
