@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="my-privacy">@ViewData["Title"]</h1>

<p class="privacy_par">Mila created this website. </p>
<p class="privacy_par">All rights reserved.</p>
<p class="privacy_par">Copy any content is strictly prohibited!</p>